footer
    div.footer
        div.container
            div.footer__inner
                div.footer__left © 2012–2020 STEAMPAY
                    div.footer__copyright
                        noindex Все права защищены. Полное или частичное копирование материалов сайта без согласования с администрацией запрещено!#[br] Все названия игр, компаний, торговых марок, логотипы и игровые материалы являются собственностью соответствующих владельцев.
                div.footer__right
                    nav
                        ul.footer__nav-list
                            li.footer__nav-item
                                a(href='#').footer__nav-link Соглашение
                            li.footer__nav-item
                                a(href='#').footer__nav-link Партнёрам
                            li.footer__nav-item
                                a(href='#').footer__nav-link Поддержка
                            li.footer__nav-item
                                a(href='#').footer__nav-link О сайте
script(src='/js/genres.js')
script(src='/js/burger-menu.js')