include head
div.page
    include header
    main.main.content
        div.container
            h1.genres-title Каталог продукции
            div.catalog
                each game in games
                    include catalog
                include pagination
    include footer

