include head

main
    div.wrapper
        include header
        div.content
            div.container
                div.catalog
                    each game in games
                        a(href='#').catalog-item
                            div.catalog-item__image
                                img(src = game['img'])
                            div.catalog-item__name #{game['title']}
                                div.catalog-item__genres #{game['genre']}
                            div.catalog-item__price
                                span #{game['price']} ₽
include footer
