include head
div.page
    include header
    main.main.content
        div.container
            h1.genres-title #{games[0]['genre_title']}
            div.catalog
                each game in games
                    include catalog
                include pagination
    include footer


