header
    div.header
        div.container
            div.header__body
                a(class='header__logo' href='/')
                    img(src='/images/logo.svg' width='195' height='42')
                    img(src='/images/logo-min.svg' width='53' height='28')
                div.header__burger
                    span
                nav.header__menu
                    ul.header__list
                        li
                            a(class='header__link' href='/') Главная
                        li
                            a(class='header__link' href='/games') Все игры
                        li
                            a(class='header__link' href='') Жанры
                        li
                            a(href='/cart')
                                img(src='/images/cart.svg' width='36' height='36')














